<h1 class="border-bottom pb-3 mb-3"><%= @article.title %> <%= link_to edit_article_path do %>
  <i class="fas fa-pencil-alt"></i>
  <% end %>
  <%= link_to article_path,
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
</h1>
<p><%= @article.content %></p>
